{% extends 'base.html.twig' %}
{% block body %}
    <a class="btn btn-primary" href="/discussions/create">Create Discussion</a>
    <fieldset style="max-width: 600px; margin: 4em auto">
        <div class="list-group">
            {% for discussion in vm.discussions %}
                <a
                    id="discussion_list_item_{{ discussion.id }}"
                    href="/discussions/{{ discussion.id }}"
                    data-type="discussion_list_item"
                    data-seen="{{ discussion.isSeen() ? 'true': 'false' }}"
                    class="list-group-item list-group-item-action {{ discussion.isSeen() ? 'list-group-item-primary': '' }}"
                    aria-current="true">
                    <h6 class="mb-1">{{ discussion.name | e }}</h6>
                    <small>{{ discussion.getOtherMembers()|map(m => m.username ?? m.email)|join(', ') }}</small>
                </a>
            {% endfor %}
            {{ component('Pagination', {page: vm.page, totalPages: vm.totalPages}) }}
        </div>
    </fieldset>
{% endblock %}
