{% extends 'base.html.twig' %}
{% block body %}
    <fieldset style="max-width: 600px; margin: 4em auto">
        {{ component('Discussion', {discussion: discussion, user: app.user, view: 'short'}) }}

        <div class="list-group">
            {% for message in messages %}
                {{ component('Message', {message: message, user: app.user}) }}
            {% endfor %}
        </div>
    </fieldset>
    <fieldset style="max-width: 600px; margin: 4em auto">
        {{ form_start(form) }}

        {{ form_rest(form) }}

        <Button type="submit" class="btn btn-success">Send</Button>

        {{ form_end(form) }}
    </fieldset>
{% endblock %}
